<?xml version="1.0" encoding="utf-8"?>
<configuration>

<config>
</config>

  <packageSources>

    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Framework2 Nuget Feed" value="https://tfs.mediaresearch.cz/Framework/_packaging/Framework2NugetFeed/nuget/v3/index.json"/>

  </packageSources>
  
</configuration>